// Pull globals for individually compiled css files
@import '../globals/allGlobals';

/* ==========================================================================
    Site Overrides -- Version: 0.4.0 - Compiled: #{timestamp()}
   ========================================================================== */

header {
  @include padding($margin);
  border-bottom: 1px solid $color-light-grey;

  h1 {
    @include font-size(24);
    line-height: 1;
  }
}

.excuse-generator {
  min-height: 8em;
  @include padding($padding);
}
